<div class="container">
  <h1>Calendar</h1>
  <div id="calendar">
    <div class="row">
      <div class="calendar-controller" style="float: left;">
        <button (click)="loadPreviousMonth()">Previous</button>
        <button (click)="loadNextMonth()">Next</button></div>
    </div>
    <div *ngFor="let d of days" class="row">
      <div *ngFor="let day of d" class="singleSquare singleSquare-{{day.localDate.monthValue===(currentMonth+1) ? 7 : 2}}"
           style="float:left; width: 100px; height: 100px;" (click)="modal.show(day)">

        <div class="dayNumber">{{day.localDate.dayOfMonth}}</div>
        <div *ngFor="let event of day.eventList" class="event">{{event.title}}</div>
      </div>
    </div>
  </div>
</div>
<app-event-popup #modal>
  <div class="app-modal-header">
  </div>
  <div class="app-modal-body">
  </div>
  <div class="app-modal-footer">
    <button type="button" class="btn btn-default" (click)="modal.hide()">Close</button>
    <button type="button" class="btn btn-primary">Save changes</button>
  </div>
</app-event-popup>
