<div class="container">
  <h1>Calendar</h1>
  <div id="calendar">
    <div class="row">
      <div class="calendar-controller" style="float: left;">
        <button (click)="loadPreviousMonth()">Previous</button>
        <button (click)="loadNextMonth()">Next</button></div>
    </div>
    <div *ngFor="let d of days" class="row">
      <div *ngFor="let day of d" class="singleSquare singleSquare-{{day.localDate.monthValue}}" style="float:
       left; width: 100px; height: 100px;">

        <div class="dayNumber">{{day.localDate.dayOfMonth}}</div>
        <div *ngFor="let event of day.eventList" class="event">{{event.description}}</div>
      </div>
    </div>
  </div>
</div>
